:root {
  font-size: 16px;
  --main-bg-color: #5e9ec2;
  --secondary-bg-color: #43ded4;
  --btn-hover-login: #43ded42a;
  --button-clr: #cbf7ff;
  --card-bg-clr: #f9f871;
  --btn-hover-add: #cbf7ff8a;
}

html,
body {
  margin: 0;
  height: 100%;
  /* background-color: black; */
}

.body {
  background: var(--main-bg-color);
  display: grid;
  grid-template-rows: 100px 100px 1fr;
}

.header {
  background: var(--secondary-bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 500px;
  box-shadow: 2px 5px 0px rgba(32, 26, 26, 0.1);
}

.header button {
  border: none;
  border-radius: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  height: 48px;
  width: 96px;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background: var(--button-clr);
  height: 48px;
  width: 96px;
}

button {
  background: var(--button-clr);
}

.content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.content .addBook {
  border: none;
  border-radius: 15px;
  font-size: 1.25rem;
  font-weight: bold;
  height: 50px;
  width: 150px;
}

.addBook:hover {
  cursor: pointer;
  background: var(--btn-hover-add);
}

.logIn:hover {
  cursor: pointer;
  /* background: var(--btn-hover-login); */
}

.library:hover {
  cursor: pointer;
  background: var(--btn-hover-add);
}

.readYet:hover {
  cursor: pointer;
}

.add:hover {
  cursor: pointer;
}

.container {
  grid-area: 3/1/4/2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 25px;
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 250px));
  margin-left: 90px;
}

.card-book {
  background: var(--card-bg-clr);

  font-size: 0.8rem;
  border: solid 5px black;
  height: 200px;
  width: 200px;
  margin-bottom: 15px;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  display: none;
}

.modal-container {
  position: absolute;
  width: 22%;
  max-width: 100%;
  height: 33%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid black;
  background-color: lightgray;
}

.newBook {
  display: flex;
  justify-content: space-between;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding-top: 25px;
}

.form button {
  width: 70px;
  height: 25px;
  border-radius: 10px;
  border: none;
}

.form input {
  border-radius: 10px;
  border: none;
  font-weight: bold;
  height: 30px;
}

.closeModalBtn {
  height: 40px;
  width: 280px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  /* border: 1px solid red; */
  cursor: pointer;
}

.newBook {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 8px;
}

/* #book_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
} */
